.header__logo {
    width: 104px;
    height: 25px;
    padding: 0 27px 32px;
    transition: opacity .3s ease;
}

@media (min-width: 1024px) {
    .header__logo:hover {
        opacity: .8;
    }
}

@media (min-width: 1280px) {
    .header__logo {
        width: 142px;
        height: 33px;
        padding-bottom: 41px;
        padding-left: 0;
        padding-right: 0;
    }
}