.place {
    width: 282px;
    height: 362px;
    margin: 0 19px 20px;
    background-color: white;
    border-radius: 10px;
    display: grid;
    grid-template-areas: 
    "image image"
    "name like"
    "name likes-card";
    row-gap: 25px;
    column-gap: 25px;
    position: relative;
}

@media (min-width: 1280px) {
    .place {
        margin-bottom: 20px;
        margin-left: 0;
        margin-right: 0;
    }
}