.popup__input-error {
    width: 238px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FF0000;
    position: absolute;
    top: 35px;
    right: 4px;
}

@media (min-width: 1280px) {
    .popup__input_error {
        width: 358px;
    }
}