.popup__save {
    margin: 15px 0 25px;
    width: 238px;
    height: 46px;
    background: black;
    color: white;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    transition: opacity .3s ease;
    border: 0;
    border-radius: 2px;
}

@media (min-width: 1024px) {
    .popup__save:hover {
        opacity: .8;
        cursor: pointer;
    }
}

@media (min-width: 1280px) {
    .popup__save {
        margin-top: 18px;
        margin-bottom: 37px;
        width: 358px;
        height: 50px;
        font-size: 18px;
        line-height: 22px;
    }
}