.place__delete {
    background: url(../../../images/delete-icon.svg) no-repeat center;
    background-size: 18px 20px;
    width: 18px;
    height: 19px;
    position: absolute;
    top: 18px;
    right: 15px;
    border: 0;
    transition: opacity .3s ease;
}

.place__delete:hover {
    opacity: .6;
    cursor: pointer;
}
