.profile__caption {
    width: 282px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin: auto;
    margin-bottom: 36px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media (min-width: 1280px) {
    .profile__caption {
        width: 336px;
        margin: 0;
        text-align: start;
        font-size: 18px;
        line-height: 22px;
        grid-area: caption;
    }
}