.popup__close {
    background: url(../../../images/close-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 26px 26px;
    width: 26px;
    height: 26px;
    border: 0;
    align-self: flex-end;
    margin-top: -44px;
    transition: opacity .3s ease;
}

@media (min-width: 1024px) {
    .popup__close:hover {
        opacity: .8;
        cursor: pointer;
    }
}

@media (min-width: 1280px) {
    .popup__close {
        width: 40px;
        height: 40px;
        background-size: 40px 40px;
        margin-right: -46px;
    }
}