.place__like {
    width: 21px;
    height: 18px;
    background: url(../../../images/like.svg) no-repeat;
    border: 0;
    grid-area: like;
    margin-right: 21px;
    justify-self: end;
    transition: opacity .3s ease;
    margin-top: 0;
    cursor: pointer;
}

@media (min-width: 1024px) {
    .place__like:hover {
        opacity: .5;
    }
}