.profile__image {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    margin: 0 auto 22px;
    position: relative;
    overflow: hidden;
}

@media (min-width: 1280px) {
    .profile__image {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
        grid-area: image;
    }
}