.profile__name-edit {
    margin: 0 auto 14px;
    display: flex;
    align-items: baseline;
}

@media (min-width: 1280px) {
    .profile__name-edit {
        margin: 0;
        grid-area: name-edit;
        align-self: end;
    }
}