.profile__name-edit {
    margin: 0 auto 14px;
    display: flex;

}

@media (min-width: 1280px) {
    .profile__name-edit {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
        grid-area: name-edit;
        align-self: end;
    }
}