.place__likes-card {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: black;
    grid-area: likes-card;
    position: absolute;
    top: -22px;
    right: 27px;
    margin: 0;
    width: 10px;
    height: 13px;
}